#================================================
# gitignore
#================================================

/**/.cproject
/**/.project
/**/tmp/
/**/.settings/

#================================================
